<% layout('boilerplate') -%>

<p>Create UMLS entry

<form action="/insert" method="post">

    <ul>
        <li><input type="text" name="cui" placeholder="CUI">
        <li><input type="text" name="title" placeholder="Title">
        <li><textarea name="alternatives" placeholder="Alternative names"></textarea>
    </ul>

    <button>Create</button>
</form>