<% layout('boilerplate') -%>

<p>Suggestions make more sense if input string is more than 4 characters.

<form action="/search" method="post" class="search">
    <input type="text" name="query" placeholder="bv. hoofdpijn">
    <button>Search</button>
</form>

<ol class="results"></ol>